.task-item {
    background-color: var(--primary-color);
    display: flex;
    width: 150px;
    margin: var(--space-medium);
    padding: var(--space-medium);
    border-radius: var(--small-radius);
    justify-content: center;
}