/* You can add global styles to this file, and also import other style files */

:root {
    --container-width-lg: 1440px;

    --primary-color: #A8DADC;
    --secondary-color: #457B9D;
    --secondary-color-hover: #305B76;
    --white-color: #F5F9FC;
    --background-color: #F5F9FC;
    --background-strong-color: #d9efff;
    --title-color: #2a4d69;
    --paragraph-color: #666666;

    --error-color: #ff686b;
    --error-color-dark: #ee6055;
    --success-color: #84dcc6;
    --info-color: #70d6ff;

    --text-font-size: 16px;
    --text-font-size-small: 12px;
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --h4-font-size: 20px;

    --text-font-family: Montserrat;
    --title-font-family: Quicksand;

    --small-radius: 8px;
    --medium-radius: 12px;
    --large-radius: 16px;
    
    --gradient: linear-gradient(to right, #A8DADC, #457B9D);

    --padding-small: 6px;
    --padding-medium: 12px;

    --space-small: 6px;
    --space-medium: 12px;
    --space-large: 18px;
    --space-xlarge: 24px;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    scrollbar-color: var(--title-color) var(--background-strong-color);
    scrollbar-width: thin;
}

.max-width {
    max-width: var(--container-width-lg);
}

.modal {
    background-color: rgba(42, 77, 105, 0.7);
}